<header>
    <div class="header-left">
        <a href="/browse/"><h1>FlouFlix</h1></a>
        <ul>
            <li><a href="/browse/">Accueil</a></li>
            <li><a href="/browse/new/">Nouveautés</a></li>
            <li><a href="/browse/popular/">Populaire</a></li>
            <li><a href="/browse/watchlist/">WatchList</a></li>
        </ul>
    </div>
    <div class="header-right">
        <ul>
            <li><a href="/search/">P</a></li>
            <li><a href="/profile/">O</a></li>
        </ul>
    </div>
</header>