{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/browse.css' %}">
    <title>FlouFlix</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="content filter">

        {% if filter != None %}

            {{ filter }}
        
        {% endif %}

    </div>
</body>
</html>