{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <title>FlouFlix</title>
</head>
<body>
    <div class="serie">
        ID de la série : {{ id }}
        <br>
        Nom de la série: {{ name }}
        <br>
        <img src={{ img }}>
        <br>
        Description : {{ description }}
        <br>
        Date : {{ date }}
        <br>
        Saisons : {{ no_seasons }}
        <br>
        Episodes : {{ no_episodes }}
    </div>
</body>
</html>